body {
    background-image: url(/img/imagem\ de\ fundo\ quiz.png);
    font-family: "Margarine", sans-serif; 
    background-color: #e8f5e9; 
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}



h1 {
  
    color: #575A21; 
    font-size: 5rem; 
    margin-top: 8rem;
    margin-bottom: 20px; 
}

p {
    font-size: 1.2em; 
    margin-bottom: 50px; 
}

#Perguntas{
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;

}

#quiz-screen{

    
    width: 80%;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    background-color: #4B6636;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
   
}





#botao-jogar {
    font-family: "Margarine";
    padding: 15px 30px; 
    font-size: 1.5em; 
    color: #000000;
    background-color: #8EA267; 
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    text-transform: uppercase; 
    transition: background-color 0.3s; 
}

#botao-jogar:hover {
    background-color: #4c8535; /* Verde escuro quando o mouse passa sobre o botão */
}




#botao-voltar{
    position: absolute; 
    top: 20px; 
    left: 20px; 
    background: #ffffff; 
    border: none;
    border-radius: 50%; 
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
    font-size: 1.5em; 
    color: #2e7d32; /
}

#botao-voltar:hover {
    background-color: #f1f1f1; 
}

#botao-verdadeiro{
    margin-right: 20%;
    color: #775809;
    font-family: "Skranji";
    padding: 3px 3px; 
    font-size: 1.5em; 
    background-color: #C8B88E; 

}

#botao-falso{

    margin-left: 10%;
    color: #775809;
    font-family: "Skranji";
    padding: 3px 22px; 
    font-size: 1.5em; 
    background-color: #C8B88E; 

}



#botao-proximo {
    padding: 10px 10px; 
    font-size: 1.5em; 
    display: none;
    background-color: #C8B88E; 
}

#botao-proximo:hover {
    background-color: #2c6b2f; 
    transition: background-color 0.3s; 

}
    


#feedback {
    margin: 15px 0;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

#repeat-button {
    background-color: #43a047; 
    padding: 10px 20px;
    font-size: 20px;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 25px;
}

#repeat-button:hover {
    background-color: #8EA267; 
}