body {
    background-image: url(/img/imagem\ de\ fundo\ quiz.png);
    font-family: "Margarine", sans-serif; 
    background-color: #e8f5e9; 
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

#container {
    text-align: center;
}

h1 {
  
    color: #575A21; 
    font-size: 5rem; 
    margin-top: 8rem;
    margin-bottom: 20px; 
}

p {
    font-size: 1.2em; 
    margin-bottom: 50px; 
}

#botao-jogar {
    font-family: "Margarine";
    padding: 15px 30px; 
    font-size: 1.5em; 
    color: #000000;
    background-color: #8EA267; 
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    text-transform: uppercase; 
    transition: background-color 0.3s; 
}

#botao-jogar:hover {
    background-color: #4c8535; /* Verde escuro quando o mouse passa sobre o botão */
}




#back-button {
    position: absolute; /* Posiciona o botão fora do fluxo normal do layout */
    top: 20px; /* Distância do topo da tela */
    left: 20px; /* Distância da esquerda da tela */
    background: #ffffff; /* Fundo branco */
    border: none;
    border-radius: 50%; /* Botão redondo */
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra sutil */
    cursor: pointer;
    font-size: 1.5em; /* Tamanho do ícone */
    color: #2e7d32; /* Cor do ícone */
}

#back-button:hover {
    background-color: #f1f1f1; /* Cor de fundo mais clara quando o mouse passa sobre o botão */
}
